.post-action-buttons {
    justify-content: space-between;
}

.right-btn > img {
    height: 100%;
}

.post-title {
    font-size: 2em;
    font-weight: 500;
}

.post-full-content {
    margin-left: 20px;
    margin-right: 20px;
}