p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.post-action-buttons {
    justify-content: space-between;
    height: 70px;
    margin-right: 20px;
    margin-left: 20px;
    border-top: 2px solid #D5D5D5;
    border-bottom: 2px solid #D5D5D5;
    padding-bottom: 40px;
    box-sizing: content-box;
}

.post-action-buttons > button {
    height: 100%;
}

.right-btn > img {
    height: 100%;
}

code {
    background-color: #F8F8F7;
    font-family: Courier, monospace !important;
    overflow-wrap: break-word;
    white-space: normal;
}


.post-title {
    font-size: 3rem;
    font-weight: 500;
}

.post-body {
    font-size: 2.5rem;
}

.post-full-content {
    margin-left: 20px;
    margin-right: 20px;
    user-select: none;
}

a {
    text-decoration: none;
    color: rgb(24,112,246);
    overflow-wrap: break-word;
}

blockquote {
    color: #5E5E5E;
    border-left: 3px solid #5E5E5E;
    padding-left: 20px;
}

ol {
    margin-left: 20px
}

pre {
    background-color: #F7F7F7FF;
    padding: 20px 20px;
    border-radius: 20px;
    overflow-wrap: break-word;
}

.subname-username {
    font-size: 2rem
}

.post-icons {
    font-size: 2rem;
}

.post-icons > img {
    height: 2rem;
}

sup {
    vertical-align: super !important;
    font-size: smaller !important;
}

.post-footer > p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.comment-header {
    justify-content: space-between;
}

.comment-actions {
    background-color: transparent;
    border: none;
    width: 50px;
}


.comments {
    font-size: 2.5rem;
}

.comment-username {
    font-size: 2rem;
    font-weight: 600;
}

.comment-header > div > img, .comment-header > div > button{
    height: 1.5rem;
}

.comment {
    padding: 20px;
    user-select: none;
}

.comment-outer {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #D5D5D5;
}

.comment-upvotes {
    font-size: 2rem;
}

.right-header {
    height: 1.7rem;
    font-size: 2rem;
}

.comment-actions > img {
    padding-top: 25%;
    width: 35px;
}

.tab4 {
    margin-left: 160px;
}

.tab4 > div {
    border-left: 4px solid green;
}

.tab5 {
    margin-left: 200px;
}

.tab5 > div {
    border-left: 4px solid blue;
}

.tab6 {
    margin-left: 240px;
}

.tab6 > div {
    border-left: 4px solid indigo;
}

.tab7 {
    margin-left: 280px;
}

.tab7 > div {
    border-left: 4px solid violet;
}

.tab8 {
    margin-left: 320px;
}

.tab8 > div {
    border-left: 4px solid purple;
}