* {
    font-family: "Arial", sans-serif;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.w-100, .post-content > * {
    margin: auto;
    width: 100vw;
    max-width: 1000px;
    justify-content: center;
}

.title {
    font-size: 2rem;
}

.flair {
    background-color: #F2F3F7;
    border-radius: 8px;
    padding: 2px 7px;
    font-size: 1.25rem;
    color: #858585
}

.title-div  {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.bottom-row {
    justify-content: space-between;
}

button {
    width: 20px;
}

.right-btn {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    padding: 0.5rem;
}

.h-100 {
    height: 100%;
}